{% extends 'index.html' %}
{% block page_name %} {{page_name}} {% endblock page_name %}
{% block content %}

{% if projects %}
<table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Project</th>
        <th scope="col">Finished cycels</th>
      </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <th scope="row">{{project.title}}</th>
            <td>{{project.cyclesDone}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h1 style="color: rgb(0, 0, 0); text-align: center;"> You haven't worked on any project yet! </h1>
  {% endif %}

{% endblock content %}