<div class="content-section">
    <form method="POST" action="/addProject">
        //{{ projectsform.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" style=" text-align: center;">Add Project</legend>
            <div class="form-group" style=" text-align: center;">
                {{ projectsform.name.label(class="form-control-label") }}

                {% if projectsform.name.errors %}
                {{ projectsform.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in projectsform.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ projectsform.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group" style=" text-align: center;">
                {{ projectsform.submit(class="btn btn-outline-info") }}
            </div>

            border
            <legend class="border-bottom mb-4" style=" text-align: center;"></legend>

            select project form
            <form method="POST" action="selectProject">
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4" style=" text-align: center;">Add Project</legend>
                    <div class="form-group" style=" text-align: center;">
                        {{ SelectProjectsForm.name.label(class="form-control-label") }}
                        {{ SelectProjectsForm.name(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group" style=" text-align: center;">
                        {{ SelectProjectsForm.submit(class="btn btn-outline-info") }}
                    </div>

                    border 
                    <legend class="border-bottom mb-4" style=" text-align: center;"></legend>
            </form>

</div> -->